/* header style */

.header {
   background-color:lightskyblue;
   color: lightslategrey;
   padding: 30px 0;
   text-align: center;
}

body {
    background-color: mintcream;
    color: darkslategrey;
    padding: 30px 0;
    text-align: center;
}

#container {
    padding: 30px 0;
    height: 50px;
    width: 50px;
    color: lightyellow;
    text-align: center;
}